@use "mixins" as mixins;

.btn {
	--_width: initial;
	--_height: initial;
	--_fs: var(--fs-base);
	--_fw: 400;
	--_lh: 1;
	--_ls: normal;
	--_color: var(--text-color);
	--_bg: transparent;
	--_border-width: 0;
	--_border-style: solid;
	--_border-color: transparent;
	--_rounded: 0;
	--_padding: 0;
	--_transform: initial;
	--_transition-duration: var(--transition-duration);
	--_transition-timing-function: var(--transition-timing-function);

	--_color-hover: var(--primary);
	--_bg-hover: transparent;
	--_border-color-hover: transparent;
	--_transform-hover: initial;

	--_color-active: var(--primary);
	--_bg-active: transparent;
	--_border-color-active: transparent;
	--_transform-active: initial;

	--_icon-size: 1rem;
	--_icon-color: currentColor;

	width: var(--_width);
	height: var(--_height);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;

	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	letter-spacing: var(--_ls);
	color: var(--_color);
  text-align: center;
	cursor: pointer;
	background-color: var(--_bg);
	border: var(--_border-width) var(--_border-style) var(--_border-color);
	border-radius: var(--_rounded);
	padding: var(--_padding);
	outline: none;
	transform: var(--_transform);
	transition-property: color, text-shadow, background, border, transform, opacity;
	transition-duration: var(--_transition-duration);
	transition-timing-function: var(--_transition-timing-function);

	@media (hover: hover) {
		&:is(:hover, :focus-visible) {
			color: var(--_color-hover);
			background-color: var(--_bg-hover);
			border-color: var(--_border-color-hover);
			transform: var(--_transform-hover);
		}
	}

	&:is(:active, .is-active) {
		color: var(--_color-active);
		background-color: var(--_bg-active);
		border-color: var(--_border-color-active);
		transform: var(--_transform-active);
	}

	.icon {
		--_size: var(--_icon-size);
		--_color: var(--_icon-color);
	}
}

a.btn {
  --_lh: normal;
}

.btn-check {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;

	&:checked {
		+ .btn {
			--_color: var(--primary);
			--_color-hover: var(--primary);
			--_color-active: var(--primary);
		}
	}
}

.btn-inline {
	--_color: inherit;
}

.btn-inherit {
	--_fs: inherit;
	--_fw: inherit;
	--_lh: inherit;
	--_ls: inherit;
	--_color: inherit;

	display: inline;
	text-transform: initial;
}

.btn-icon {
  --_color: var(--primary);
  --_bg: var(--light-200);
  --_rounded: .5rem;
  --_padding: .625rem;
  --_icon-size: 2.25rem;

  --_color-hover: var(--light);
  --_bg-hover: var(--primary-500);

  --_color-active: var(--light);
  --_bg-active: var(--primary-500);
}

.btn-lg {
	--_height: 3rem;
	--_fs: var(--fs-md);
	--_rounded: 2rem;
	--_padding: .25rem 1.5rem;
}

.btn-primary-gradient {
  --_color: var(--light);
  --_bg: var(--primary);

  --_color-hover: var(--light);
  --_bg-hover: var(--primary-500);

  --_color-active: var(--light);
  --_bg-active: var(--primary-500);

  position: relative;
  z-index: 1;

  &::after {
    content: '';
    display: block;
    opacity: 1;
    background-image: var(--primary-gradient);
    border-radius: inherit;
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0;
    z-index: -1;

    transition-property: opacity;
    transition-duration: var(--_transition-duration);
    transition-timing-function: var(--_transition-timing-function);
  }

  @media (hover: hover) {
    &:is(:hover, :focus-visible) {

      &::after {
        opacity: 0;
      }
    }
  }

  &:is(:active, .is-active) {

    &::after {
      opacity: 0;
    }
  }
}
