@use "mixins" as mixins;

.contacts {

  &__tabs {
    display: grid;
    grid-template-columns: 100%;
    gap: 1.75rem;

    @include mixins.breakpoint-up(md) {
      grid-template-columns: minmax(0rem, 26.5rem) 1fr;
    }

    @include mixins.breakpoint-up(lg) {
      gap: 2.5rem;
    }
  }

  &__content {

    .tabs__nav {
      margin-inline: calc(var(--container-offset) * -1);
      margin-bottom: -.375rem;
      padding-inline: var(--container-offset);
      padding-bottom: .375rem;
      overflow-y: hidden;
      overflow-x: auto;

      @include mixins.breakpoint-up(md) {
          margin-inline: 0;
          padding-inline: 0;
      }
    }

    .tabs__content {
      margin-top: 1.25rem;

      @include mixins.breakpoint-up(lg) {
        margin-top: 1.75rem;
      }
    }
  }

  &__map {

    .map {
      min-height: 20rem;
      display: flex;
      border-radius: 2rem;
      overflow: hidden;

      @include mixins.breakpoint-up(lg) {
        min-height: 22.5rem;
      }

      > * {
        flex: 1;

        &,
        > * {
          width: 100% !important;
        }

        > * {
          height: 100% !important;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-item {
      display: flex;
      gap: 1rem;

      &_icon {
        flex-shrink: 0;
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: .9375rem;
        position: relative;

        &::after {
          content: "";
          background-image: var(--primary-gradient);
          border-radius: inherit;
          opacity: .15;
          position: absolute;
          inset: 0;
          z-index: -1;
        }

        .icon {
          --_size: 1.5rem;
        }
      }

      &_body {
        display: flex;
        flex-direction: column;
        gap: .875rem;
        margin-top: 1rem;
      }

      &_header {
        font-weight: 500;
      }
    }

    &-sublist {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      &_item {
        display: flex;
        flex-direction: column;
        gap: .25rem;

        &-name {
          font-size: var(--fs-sm);
          font-weight: 600;
          color: var(--primary);
          text-transform: uppercase;
        }

        &-link {
          font-size: var(--fs-md);

          justify-content: start;
          text-align: start;
        }
      }
    }
  }
}
