@use "mixins" as mixins;

.field-control,
.fieldset {
	position: relative;
}

.field-control {
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  &-label,
  &-icon {
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  &-label {
    color: var(--text-color);
  }

  &-icon {
    --_size: 1.25rem;
    --_color: var(--text-color-rgba-60);

    position: absolute;
    bottom: .5rem;
    right: .25rem;
  }
}

.field {
	--_width: 100%;
	--_height: 2.25rem;

	--_fs: var(--fs-base);
	--_fw: var(--fw-base);
	--_lh: var(--lh-base);
	--_ls: var(--ls-base);
	--_color: var(--text-color);
	--_bg: transparent;
	--_border-width: .125rem;
	--_border-solid: solid;
	--_border-color: currentColor;
	--_rounded: 0;
	--_padding: .25rem 1.75rem .25rem .25rem;

	--_color-active: var(--dark);
	--_bg-active: transparent;
	--_border-color-active: var(--primary);

	width: var(--_width);
	min-height: var(--_height);
	display: block;
	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	letter-spacing: var(--_ls, normal);
	color: var(--_color);
	background-color: var(--_bg);
  border: none;
	border-bottom: var(--_border-width) var(--_border-solid) var(--_border-color);
	border-radius: var(--_rounded);
	padding: var(--_padding);
	outline: none;
	appearance: none;
	transition-property: color, background, border;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	&::placeholder {
		font: inherit;
		color: var(--text-color-rgba-60);
	}

	&:focus-visible {
		color: var(--_color-active);
		background-color: var(--_bg-active);
		border-color: var(--_border-color-active);

    ~ .field-control {

      &-label {
        color: var(--_color-active);
      }

      &-icon {
        --_color: var(--primary);
      }
    }
	}
}
