@use "mixins" as mixins;

.header {
  background-color: var(--light);
  padding-block: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  @include mixins.breakpoint-up(lg) {
    padding-inline: 1.25rem;
    background-color: var(--light-rgba-60);

    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    @include mixins.breakpoint-up(xl) {
      gap: 2.25rem;
    }

    &-link {
      --_fs: var(--fs-md);
      --_color: #000;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    order: -1;

    @include mixins.breakpoint-up(lg) {
      order: 2;
    }

    &-link,
    &-button {
      --_color-hover: var(--primary-500);

      --_color-active: var(--primary-500);

      @include mixins.breakpoint-up(lg) {
        justify-content: start;
        text-align: start;
      }
    }

    &-link {
      --_fs: 1.3125rem;
      --_fw: 600;
      --_color: #000;

      @include mixins.breakpoint-up(lg) {
        --_bg: transparent;
        --_rounded: 0rem;
        --_padding: 0rem;

        --_bg-hover: transparent;

        --_bg-active: transparent;
      }

      .text {
        display: none;

        @include mixins.breakpoint-up(lg) {
          display: inline;
        }
      }

      .icon {

        @include mixins.breakpoint-up(lg) {
          display: none;
        }
      }
    }

    &-button {
      --_fs: .8125rem;
      --_color: var(--primary);

      text-decoration: underline;
      text-underline-offset: .25em;
      order: 1;
    }

  }

  &__menu {

    @include mixins.breakpoint-up(lg) {
      display: none;
    }
  }

  &--sticky {

    @include mixins.breakpoint-up(lg) {
      background-color: var(--light);
    }
  }
}
