@use "mixins" as mixins;

.hero {

  &-swiper {
    position: relative;

    &-slide {
      min-height: 44.5rem;
      display: flex;
      flex-direction: column;
      padding-top: var(--header-height, 5.375rem);
      position: relative;
      overflow: hidden;

      @include mixins.breakpoint-up(lg) {
        margin-inline: 1.25rem;
        border-radius: 0 0 3rem 3rem;
      }

      > .container {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;

        &::after {
          content: '';
          display: block;
          background-image: radial-gradient(var(--light-rgba-60) 40%, rgba(255, 255, 255, 0) 70%);
          pointer-events: none;
          user-select: none;
          position: absolute;
          top: -15rem;
          left: -15rem;
          right: calc(50% - 15rem);
          bottom: -15rem;
          z-index: -1;
        }
      }
    }

    &-bg {
      opacity: .35;

      &,
      &-decor {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        pointer-events: none;
        user-select: none;
        position: absolute;
        inset: 0;
        z-index: -1;
      }

      &-decor {

        @include mixins.breakpoint-down(lg) {
          display: none;
        }
      }
    }

    &-pictures {
      margin-inline: -6rem -1rem;
      position: relative;

      @include mixins.breakpoint-up(lg) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        pointer-events: none;
        user-select: none;
        margin-inline: 0;
        position: absolute;
        top: calc(var(--header-height, 5.375rem) * .5);
        bottom: 0;
        left: 45%;
        z-index: -1;
      }
    }

    &-picture {

      &-decor {

        .image {
          width: 100%;
          display: block;
          object-fit: contain;
          position: absolute;
          top: 1rem;
          left: 50%;
          transform: translateX(-45%);
          z-index: -1;

          @include mixins.breakpoint-up(lg) {
            top: auto;
            bottom: -15rem;
          }
        }
      }

      .image {
        width: 100%;
        display: block;
        padding-top: 4rem;

        @include mixins.breakpoint-up(lg) {
          max-width: 900px;
          padding-top: calc((var(--header-height, 5.375rem) * .5));
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-block: 2rem 0;

      @include mixins.breakpoint-up(lg) {
        max-width: 51%;
        gap: 1.75rem;
        padding-block: 2rem;
      }
    }

    &-subtitle {
      font-size: var(--fs-lg);
      color: var(--text-color-200);
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;

      @include mixins.breakpoint-up(xxl) {
        --swiper-navigation-sides-offset: calc(var(--container-offset) * 2);

        display: inline-flex;
      }

      @include mixins.breakpoint-up(xxxl) {
        --swiper-navigation-sides-offset: 4.5rem;
      }
    }

    .swiper-pagination-bullets {

      &.swiper-pagination {

        @include mixins.breakpoint-up(lg) {
          left: max(calc(var(--container-offset) * 2), calc((100% - var(--content-width)) / 2));
        }

        @include mixins.breakpoint-down(lg) {
          justify-content: center;
          margin-top: 1.25rem;
          margin-inline: var(--container-offset);
          position: static;
        }
      }
    }
  }
}
