<article class="store-item">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture class="store-item-picture">
          <source srcset="img/store/@image.webp" type="image/webp">
          <img loading="lazy" src="img/store/@image.png" class="image" width="395" height="395" alt="Картинка">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture class="store-item-picture">
          <source srcset="img/store/@image.webp" type="image/webp">
          <img loading="lazy" src="img/store/@image.png" class="image" width="395" height="395" alt="Картинка">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture class="store-item-picture">
          <source srcset="img/store/@image.webp" type="image/webp">
          <img loading="lazy" src="img/store/@image.png" class="image" width="395" height="395" alt="Картинка">
        </picture>
      </div>
    </div>

    <button type="button" class="btn swiper-button-prev">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/swiper-arrow.svg#svg-swiper-arrow"></use>
        </svg>
      </span>
    </button>
    <button type="button" class="btn swiper-button-next">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/swiper-arrow.svg#svg-swiper-arrow"></use>
        </svg>
      </span>
    </button>
  </div>

  <div class="store-item-content">
    <h3 class="h5 store-item-title">
      @title
    </h3>
    <div class="store-item-description">
      @description
    </div>

    <ul class="list-reset store-item-features">
      <li class="store-item-feature">
        <h4 class="store-item-feature-title">
          Дальность
        </h4>
        <p class="store-item-feature-text">
          до 10 км
        </p>
      </li>
      <li class="store-item-feature">
        <h4 class="store-item-feature-title">
          Мощность
        </h4>
        <p class="store-item-feature-text">
          5 Вт
        </p>
      </li>
      <li class="store-item-feature">
        <h4 class="store-item-feature-title">
          Степень защиты
        </h4>
        <p class="store-item-feature-text">
          IP67
        </p>
      </li>
      <li class="store-item-feature">
        <h4 class="store-item-feature-title">
          ёмкость аккумулятора
        </h4>
        <p class="store-item-feature-text">
          2200 мАч
        </p>
      </li>
      <li class="store-item-feature">
        <h4 class="store-item-feature-title">
          Стандарт связи
        </h4>
        <p class="store-item-feature-text">
          DMR Tier II
        </p>
      </li>
    </ul>

    <button type="button" class="btn btn-lg btn-primary-gradient store-item-button">
      Купить
    </button>
  </div>
</article>
