<div class="swiper-slide">
  <div class="hero__swiper-slide">
    <span class="hero__swiper-bg" style="background-image: url(img/hero/bg@2x.webp);"></span>
    <span class="hero__swiper-bg hero__swiper-bg--decor" style="background-image: url(img/hero/decor-2@2x.webp);"></span>

    <div class="container hero__swiper-bg-container">
      <div class="hero__swiper-content">
        <h2 class="h1 hero__swiper-title">
          @title
        </h2>
        <p class="hero__swiper-subtitle">
          @subtitle
        </p>
      </div>
    </div>

    <div class="hero__swiper-pictures">
      <picture class="hero__swiper-picture">
        <source srcset="img/hero/@image.webp" type="image/webp">
        <img loading="lazy" src="img/hero/@image.png" class="hero__swiper-picture_image" width="900" height="600" alt="Картинка">
      </picture>
      <picture class="hero__swiper-picture hero__swiper-picture--decor">
        <source srcset="img/hero/decor@2x.webp" type="image/webp">
        <img loading="lazy" src="img/hero/decor@2x.png" class="hero__swiper-picture_image" width="910" height="910" alt="Декоративная картинка">
      </picture>
    </div>
  </div>
</div>
