<div class="swiper-slide">
  <div class="hero-swiper-slide">
    <span class="hero-swiper-bg" style="background-image: url(img/hero/bg@2x.webp);"></span>
    <span class="hero-swiper-bg-decor" style="background-image: url(img/hero/decor-2@2x.webp);"></span>

    <div class="container">
      <div class="hero-swiper-content">
        <h2 class="h1 hero-swiper-title">
          @title
        </h2>
        <p class="hero-swiper-subtitle">
          @subtitle
        </p>
      </div>
    </div>

    <div class="hero-swiper-pictures">
      <picture class="hero-swiper-picture">
        <source srcset="img/hero/@image.webp" type="image/webp">
        <img loading="lazy" src="img/hero/@image.png" class="image" width="900" height="600" alt="Картинка">
      </picture>
      <picture class="hero-swiper-picture-decor">
        <source srcset="img/hero/decor@2x.webp" type="image/webp">
        <img loading="lazy" src="img/hero/decor@2x.png" class="image" width="910" height="910" alt="Декоративная картинка">
      </picture>
    </div>
  </div>
</div>
