<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__header">
        <div class="footer__header-contacts"
          data-transfer-target="footer__header-contacts">
          <div class="footer-brand">
            @include('brand.html')
          </div>
        </div>

        <p class="footer__description">
          Разработка и производство профессионального радиооборудования с 2005 года.
        </p>
      </div>

      <nav class="footer__nav">
        <ul class="list-reset footer__list">
          <li class="footer__list-item">
            <h3 class="footer__list-title">
              Контакты
            </h3>
          </li>
          <li class="footer__list-item">
            <div class="footer__list-text">
              <span class="icon icon-gradient" style="mask-image: url(img/icons/location.svg#svg-location)">
                <svg>
                  <use xlink:href="img/icons/location.svg#svg-location"></use>
                </svg>
              </span>
              <span class="text">г. Москва, ул. Радиотехническая, д. 15, офис 203</span>
            </div>
          </li>
          <li class="footer__list-item">
            <a href="tel:+74951234567" class="btn footer__list-link">
              <span class="icon icon-gradient" style="mask-image: url(img/icons/phone.svg#svg-phone)">
                <svg>
                  <use xlink:href="img/icons/phone.svg#svg-phone"></use>
                </svg>
              </span>
              <span class="text">+7 (495) 123-45-67</span>
            </a>
          </li>
          <li class="footer__list-item">
            <a href="mailto:info@simradio.ru" class="btn footer__list-link">
              <span class="icon icon-gradient" style="mask-image: url(img/icons/email.svg#svg-email)">
                <svg>
                  <use xlink:href="img/icons/email.svg#svg-email"></use>
                </svg>
              </span>
              <span class="text">info@simradio.ru</span>
            </a>
          </li>
        </ul>

        <ul class="list-reset footer__list">
          <li class="footer__list-item">
            <h3 class="footer__list-title">
              Сервисный центр
            </h3>
          </li>
          <li class="footer__list-item">
            <div class="footer__list-text">
              <span class="icon icon-gradient" style="mask-image: url(img/icons/location.svg#svg-location)">
                <svg>
                  <use xlink:href="img/icons/location.svg#svg-location"></use>
                </svg>
              </span>
              <span class="text">г. Москва, ул. Сервисная, д. 10</span>
            </div>
          </li>
          <li class="footer__list-item">
            <a href="tel:+74957654321" class="btn footer__list-link">
              <span class="icon icon-gradient" style="mask-image: url(img/icons/phone.svg#svg-phone)">
                <svg>
                  <use xlink:href="img/icons/phone.svg#svg-phone"></use>
                </svg>
              </span>
              <span class="text">+7 (495) 765-43-21</span>
            </a>
          </li>
          <li class="footer__list-item">
            <div class="footer__list-text">
              <span class="icon icon-gradient" style="mask-image: url(img/icons/time.svg#svg-time)">
                <svg>
                  <use xlink:href="img/icons/time.svg#svg-time"></use>
                </svg>
              </span>
              <span class="text">Режим работы: Пн-Пт, 9:00-18:00</span>
            </div>
          </li>
        </ul>

        <ul class="list-reset footer__list footer__contacts"
          data-transfer-origin="footer__header-contacts"
          data-transfer-breakpoint="991.98">
          <li class="footer__list-item">
            <h3 class="footer__list-title">
              Мы в соцсетях
            </h3>
          </li>
          <li class="footer__list-item">
            <a href="tel:+74957654321" class="btn footer__contacts-link">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/insta.svg#svg-insta"></use>
                </svg>
              </span>
            </a>
          </li>
          <li class="footer__list-item">
            <a href="tel:+74957654321" class="btn footer__contacts-link">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/youtube.svg#svg-youtube"></use>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer__bottom">
      <p class="footer__copy">
        © 2025 SimRadio. Вce права защищены.
      </p>

      <nav class="footer__bottom-nav">
        <button type="button" class="btn btn-inherit footer__bottom-nav_link"
          data-bs-toggle="modal"
          data-bs-target="#policy">
          Политика конфиденциальности
        </button>
        <a href="#" class="btn btn-inherit footer__bottom-nav_link">
          Юридическая информация
        </a>

        <p class="footer__bottom-text">
          <picture class="footer__bottom-text_logo">
            <source srcset="img/logo-2@2x.webp" type="image/webp">
            <img loading="lazy" src="img/logo-2@2x.png" class="footer__bottom-text_logo-image" width="34" height="34" alt="Логотип ЭДД-Ю">
          </picture>

          <span class="text">
            Разработка и <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-inherit">поддержка</a> - компания ЭДД-Ю
          </span>
        </p>
      </nav>
    </div>
  </div>
</footer>
