<header class="header">
  <div class="container">
    @include('brand.html')

    <nav class="header-nav"
      data-transfer-origin="header-nav"
      data-transfer-breakpoint="991.98">
      <button type="button" class="btn header-nav-link" data-scrollto="hero">
        Главная
      </button>
      <button type="button" class="btn header-nav-link" data-scrollto="store">
        Продукция
      </button>
      <button type="button" class="btn header-nav-link" data-scrollto="scope">
        Применение
      </button>
      <button type="button" class="btn header-nav-link" data-scrollto="about">
        О нac
      </button>
      <button type="button" class="btn header-nav-link" data-scrollto="certificates">
        Сертификаты
      </button>
      <button type="button" class="btn header-nav-link" data-scrollto="contacts">
        Где купить
      </button>
    </nav>

    <button type="button" class="btn btn-icon header-phone"
      data-bs-toggle="modal"
      data-bs-target="#form-callback">
      <span>
        <span>8 800 301-06-07</span>
        <span>Заказать обратный звонок</span>
      </span>

      <span class="icon">
        <svg>
          <use xlink:href="img/icons/phone-outline.svg#svg-phone-outline"></use>
        </svg>
      </span>
    </button>

    <button type="button" class="btn btn-icon header-menu"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas-menu"
      aria-controls="Навигационное меню">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/menu.svg#svg-menu"></use>
        </svg>
      </span>
    </button>
  </div>
</header>
