<header class="header">
  <div class="container header__container">
    @include('brand.html')

    <nav class="header__nav"
      data-transfer-origin="header-nav"
      data-transfer-breakpoint="991.98">
      <button type="button" class="btn header__nav-link" data-scrollto="hero">
        Главная
      </button>
      <button type="button" class="btn header__nav-link" data-scrollto="store">
        Продукция
      </button>
      <button type="button" class="btn header__nav-link" data-scrollto="scope">
        Применение
      </button>
      <button type="button" class="btn header__nav-link" data-scrollto="about">
        О нac
      </button>
      <button type="button" class="btn header__nav-link" data-scrollto="certificates">
        Сертификаты
      </button>
      <button type="button" class="btn header__nav-link" data-scrollto="contacts">
        Где купить
      </button>
    </nav>

    <div class="header__phone">
      <a href="tel:+88003010607" class="btn btn-icon header__phone-link">
        <span class="text">
          8 800 301-06-07
        </span>

        <span class="icon">
          <svg>
            <use xlink:href="img/icons/phone-outline.svg#svg-phone-outline"></use>
          </svg>
        </span>
      </a>
      <button type="button" class="btn header__phone-button"
        data-transfer-origin="header-phone-button"
        data-transfer-breakpoint="991.98"
        data-bs-toggle="modal"
        data-bs-target="#form-callback">
        Заказать обратный звонок
      </button>
    </div>

    <button type="button" class="btn btn-icon header__menu"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas-menu"
      aria-controls="Навигационное меню">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/menu.svg#svg-menu"></use>
        </svg>
      </span>
    </button>
  </div>
</header>
