<div class="offcanvas offcanvas--menu offcanvas--end" tabindex="-1" id="offcanvas-menu">
  <div class="offcanvas-header">
    @include('brand.html')

    <button type="button" class="btn btn-icon btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/close.svg#svg-close"></use>
				</svg>
			</span>
		</button>
  </div>
  <div class="offcanvas-body"
		data-transfer-target="header-nav">

  </div>
  <div class="offcanvas-footer"
    data-transfer-target="header-phone-button">

  </div>
</div>
