@use "mixins" as mixins;

:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 1170px;
  --container-offset: 1rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // sizes
  --fs-base: 1rem;
  --fw-base: 400;
  --lh-base: normal;

  --fs-sm: .75rem;
  --fs-md: .875rem;
  --fs-lg: 1rem;

  --h1: 2.75rem;
  --h2: 1.75rem;
  --h3: 2.625rem;
  --h5: 1.5rem;

  // colors
  --text-color: #151b1a;
  --text-color-rgba-30: rgba(21, 27, 26, .30);
  --text-color-200: #484c4b;
  --text-color-400: #1f2937;
  --primary: #cb524d;
  --primary-200: #d86661;
  --primary-200-rgba-20: rgba(216, 102, 97, .20);
  --primary-500: #b8352f;
  --primary-800: #7d2a25;
  --light: #fff;
  --light-200: #f3f3f3;
  --light-300: #f5f5f5;
  --light-rgba-60: rgba(255, 255, 255, .60);
  --light-rgba-80: rgba(255, 255, 255, .80);
  --dark-rgba-15: rgba(0, 0, 0, .15);
  --dark-rgba-25: rgba(0, 0, 0, .25);
  --gray: #808080;

  // backgrounds
  --body-bg: #fff;

  // gradients
  --primary-gradient: linear-gradient(60deg, var(--primary-200), var(--primary-500));

  // radius
  --rounded: 1rem;

  // shadows
  --shadow: -2rem .75rem 2.25rem 0rem rgba(0, 0, 0, 0.04);

  // transitions
  --transition-duration: 300ms;
  --transition-timing-function: ease-in-out;
}

@include mixins.breakpoint-up(lg) {
  :root {
    // --fs-base: 1.125rem;
    // --fs-sm: .875rem;
    --fs-lg: 1.125rem;

    --h1: 3.375rem;
    --h2: 3rem;
    // --h3: 2.625rem;
    // --h5: 1.5rem;
  }
}
